<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
</head>
<body>
    <p>
        We are artists who are aware that art in capitalism is abused by compa- nies to artwash, by the government to gentrify, by the rich to invest in and speculate with. We actively avoid and boycott any initiative that is doing this.
        As art workers we have no interested in getting exploited. There is a time and a place for unpaid labor and that place is never an institutional one.
        Our goals as a collective are to abolish the ideas and methods of art institutions to dull the teeth of political art and political theory. Crucial to this is understanding that every person is a political being with their own agency.
    </p>
</body>
</html>