<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>UntitledFriedFront</title>
    <meta name="viewport" content="width=device=width, initial-scale=1">
    <style>
        a:link, a:visited {
          color: white;
          text-decoration: none;
          display: inline-block;
          text-indent: 1000px;
        }
        a:hover, a:active {
          background-color: #E2D6D1;
        }
        background: url(https://raw.githubusercontent.com/elizaaker/untitledfriedfront/main/home.png?token=GHSAT0AAAAAABYFI5B2NSMG6J43TCXA7WNYYYOFBXA);
    </style>
</head>
<body style="background-image: url(https://raw.githubusercontent.com/elizaaker/untitledfriedfront/main/home.png?token=GHSAT0AAAAAABYFI5B2NSMG6J43TCXA7WNYYYOFBXA); background-repeat: no-repeat; background-size: cover;">
    <header>
            <h1 style="text-indent: 500px; color:#006464; font-family:'Trebuchet MS', sans-serif; text-shadow: 2px 2px 2px #0BCE52;">untitled fried front</h1>
        <h2 style="font-family:'Trebuchet MS', sans-serif; text-shadow: 2px 2px 2px #0BCE52;">
            <nav style="color:#E2D6D1;">
                <a href="http://127.0.0.1:5000/articles">articles</a>
                <a href="http://127.0.0.1:5000/library">anarchist library</a>
                <a href="http://127.0.0.1:5000/about">about</a>
            </nav>
        </h2>
    </header>

        <p>
            <del style="font-size: x-large;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</del> Eleifend quam adipiscing vitae proin sagittis nisl rhoncus mattis rhoncus. Vel elit scelerisque mauris pellentesque pulvinar pellentesque. Ultricies leo integer malesuada nunc vel. Elementum facilisis leo vel fringilla. Iaculis at erat pellentesque adipiscing commodo elit. Ipsum nunc aliquet bibendum enim facilisis gravida. Tellus elementum sagittis vitae et leo duis. Libero volutpat sed cras ornare arcu dui vivamus arcu. Purus gravida quis blandit turpis cursus in. Et malesuada fames ac turpis egestas. Sed tempus urna et pharetra pharetra massa massa. Nisl nisi scelerisque eu ultrices vitae. Eget arcu dictum varius duis at consectetur lorem. Morbi quis commodo odio aenean sed adipiscing diam donec adipiscing. Tempor commodo ullamcorper a lacus vestibulum sed arcu non odio.
        </p>
        <p>
            gUt placerat orci nulla pellentesque. Orci eu lobortis elementum nibh tellus molestie. Non arcu risus quis varius quam. Praesent elementum facilisis leo vel fringilla est ullamcorper. Tincidunt vitae semper quis lectus nulla at. Ac odio tempor orci dapibus ultrices. Vivamus at augue eget arcu dictum. Non odio euismod lacinia at quis risus. Molestie ac feugiat sed lectus vestibulum mattis ullamcorper velit sed. Placerat duis ultricies lacus sed turpis tincidunt id aliquet risus. Elementum curabitur vitae nunc sed velit dignissim sodales. Diam maecenas sed enim ut sem viverra. Morbi enim nunc faucibus a pellentesque sit amet porttitor eget.
        </p>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Eleifend quam adipiscing vitae proin sagittis nisl rhoncus mattis rhoncus. Vel elit scelerisque mauris pellentesque pulvinar pellentesque. Ultricies leo integer malesuada nunc vel. Elementum facilisis leo vel fringilla. Iaculis at erat pellentesque adipiscing commodo elit. Ipsum nunc aliquet bibendum enim facilisis gravida. Tellus elementum sagittis vitae et leo duis. Libero volutpat sed cras ornare arcu dui vivamus arcu. Purus gravida quis blandit turpis cursus in. Et malesuada fames ac turpis egestas. Sed tempus urna et pharetra pharetra massa massa. Nisl nisi scelerisque eu ultrices vitae. Eget arcu dictum varius duis at consectetur lorem. Morbi quis commodo odio aenean sed adipiscing diam donec adipiscing. Tempor commodo ullamcorper a lacus vestibulum sed arcu non odio.
        </p>

        <footer style="left: 0; bottom: 0; width: 100%; background-color: black; color: white; text-align: center;" >
            <p>	&copy; UntitledFriedFront 2022</p>
        </footer>
</body>
</html>